<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <main role="main">
    <h1 class="cover-heading">Prise de notes</h1>
    <p class="lead">Pour créer ou consulter vos notes, veuillez cliquer en dessous</p>
    <p class="lead">
      <a class="btn btn-lg btn-primary" [routerLink]="['/note-upload']">Créer une note</a>
    </p>
    <p class="lead">
      <a class="btn btn-lg btn-secondary" [routerLink]="['/note-gallery']">Consulter les notes</a>
    </p>
  </main>

  <img class="rounded mx-auto d-block" width="250px" src="https://image.flaticon.com/icons/png/512/16/16026.png">

</div>
