<div>
  <h1>Ecrire une note.</h1>
  <form #noteUpload="ngForm">

    <h3>Titre</h3>
    <input #title type="text"
           (focusout)="onTitleChange($event)"><br><br>

    <h3>Description</h3>
    <textarea #description name="story" rows="7" cols="40"
              (focusout)="onDescriptionChange($event)"></textarea>

    <h3>Auteur</h3>
    <input #author type="text" list="authors"
    (change)="onAuthorChange($event)">
    <datalist id="authors">
      <option *ngFor="let author of this.noteService.authorsList"
              [value]="author.name">
        {{author.name}}</option>
    </datalist><br><br>


    <h3>Tag</h3>
    <input #tag type="text" list="tags"
    (change)="onTagChange($event)">
    <datalist id="tags">
      <option *ngFor="let tag of this.noteService.tagsList"
              [value]="tag.name">
        {{tag.name}}</option>
    </datalist><br><br>

    <button (click)="onUpload()" [disabled]="title.value=='' || description.value ==''"
            class="btn btn-success">
      Upload
    </button>
  </form>
</div>

