<button style="margin-bottom: 10px ; margin-right: 10px"
        [routerLink]="['/']"
        class="btn btn-primary">
  < Menu
</button>

<button style="margin-bottom: 10px ; margin-right: 10px"
        [routerLink]="['/note-upload']"
        class="btn btn-success">
  Ajouter
</button>

<button style="margin-bottom: 10px ; margin-right: 10px"
        [hidden]="this.serviceGallery.notes.length == 0"
        [routerLink]="['/note-gallery/delete']"
        class="btn btn-danger">
  Supprimer
</button>

<button style="margin-bottom: 10px ; margin-right: 10px"
        [routerLink]="['/note-gallery/update']"
        [hidden]="this.serviceGallery.notes.length == 0"
        class="btn btn-warning">
  Modifier
</button>

<div class="card-columns" *ngIf="serviceGallery.notes.length != 0; else emptyNotes;">
  <app-note-gallery-default-result
    *ngFor="let note_result of serviceGallery.notes"
    [note]="note_result">
  </app-note-gallery-default-result>
</div>

<ng-template #emptyNotes>
  <h3>Il n'y a aucune note pour le moment. Créez en une !</h3>
</ng-template>
